<table>
    <thead>
        <tr>
            <th>productName</th>
            <th>description</th>
            <th>price </th>
            <th>category </th>
            <th>imageUrl </th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let produit of produit">
            <td>{{produit.productName}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.price}}</td>
            <td>{{produit.category}}</td>
            <td>{{produit.imageUrl}}</td>
            <td><button (click)="showdetails(produit.id)">details</button></td>
            
        </tr>
    </tbody>
</table>
<button (click)="next()">next</button>