<table>
    <thead>
        <tr>
            <th>productName</th>
            <th>description</th>
            <th>price </th>
            <th>category </th>
            <th>imageUrl </th>
            
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>{{produit.productName}}</td>
            <td>{{produit.description}}</td>
            <td>{{produit.price}}</td>
            <td>{{produit.category}}</td>
            <td>{{produit.imageUrl}}</td>
            
            
        </tr>
    </tbody>
</table>